@import "./utils/mixin";
@import "./utils/variable";
@import "./components/collapse";
@import "./components/header";
@import "./components/card";
@import "./components/footer";
@import "./pages/apropos";
@import "./pages/error";
@import "./pages/productsheet";
@import "./components/banner";
@include reset;

body {
  max-width: 100%;
  max-height: fit-content;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  min-height: fit-content;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

// MAIN //
.App {
  margin: auto;

  width: 90%;
  height: 223px;
}

//PAGE CAROUSEL DESCRIPTION APPARTEMENT//
.collapse {
  margin-top: 25px;
  width: 60%;
}
