// HEADER //
header {
  display: flex;
  justify-content: space-between;
  height: 70px;

  padding-top: 25px;
  margin: auto;
  width: 90%;
  max-width: 1225px;
}
header img {
  cursor: pointer;
  height: 70%;
}
// HEADER NAV //
nav {
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & a {
    margin: 10px;
  }
  & .active {
    color: $primary-color;
  }
}

@include mobile-only {
  nav {
    font-size: 15px;
  }
}
